.tab-panel {
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 4px;
  }
  
  .member-tabset {
    > .nav-tabs {
      > li {
        &.open,
        &:hover {
          border-bottom: 4px solid #fbcdcf;
  
          > a {
            > i {
              color: #a6a6a6;
            }
          }
        }
  
        &.active {
          border-bottom: 4px solid #E95420;
          position: relative;
        }
  
        .dropdown-menu {
          margin-top: 0px;
        }
  
        > a {
          border: 0;
          // background: none !important;
          color: grey;
        }
      }
    }
  
    > .tab-content {
      padding: 15px 0;
    }
  }
  